<header class="bg-blue-900 text-white">
  <div
    class="container mx-auto py-4 px-4 md:px-0 flex justify-between items-center"
  >
    <div class="flex items-center justify-between gap-4">
      <div *ngIf="isMobile()">
        <button
          class="text-white cursor-pointer"
          (click)="navigationService.toggleMenu()"
        >
          <span class="material-symbols-outlined cursor-pointer">menu</span>
        </button>
      </div>
      <a routerLink="/">
        <p class="text-2xl font-bold text-white">luisdev shop</p>
      </a>
    </div>
    <div *ngIf="!isMobile()">
      <nav>
        <ul class="flex gap-4">
          <li
            *ngFor="let category of categories()"
            class="hover:text-gray-300 transition-all duration-300"
          >
            <a routerLink="/collection/{{ category.slug }}">{{
              category.name
            }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="flex gap-4 justify-end">
      <button class="text-white cursor-pointer">
        <span class="material-symbols-outlined">search</span>
      </button>
      <a routerLink="/wishlist" class="text-white cursor-pointer">
        <span class="material-symbols-outlined">favorite</span>
        <span class="text-sm">{{ wishlistItems().length }}</span>
      </a>
      <button class="text-white cursor-pointer" (click)="toggleCart()">
        <span class="material-symbols-outlined"> shopping_cart </span>
        <span class="text-sm">{{ cartItemsCount() }}</span>
      </button>
    </div>
  </div>
</header>
