<app-desktop-navigation></app-desktop-navigation>
<app-mobile-navigation></app-mobile-navigation>
<app-minicart></app-minicart>
<p class="text-center text-white bg-red-500 px-4 md:px-0 py-2">
  Esta <strong>es una tienda de prueba</strong>, ningun producto es real y
  <strong class="underline">no estan disponibles para comprar</strong>
</p>
@if (currentPath.includes('/collection/') || currentPath.includes('/product/'))
{
<div class="container mx-auto px-4 md:px-0 my-10">
  <app-breadcrumb [currentPage]="currentPath"></app-breadcrumb>
</div>
}
<router-outlet></router-outlet>
<app-footer></app-footer>
