<footer class="bg-blue-900 text-white py-10 px-4 md:px-0">
  <div class="container mx-auto">
    <div class="grid grid-cols-1">
      <div class="space-y-4">
        <h4 class="text-sm font-bold">
          <a href="https://luisdev.dev" target="_blank"
            >Creada por
            <span class="text-white hover:underline">luisdev ❤️</span></a
          >
        </h4>
        <p class="text-sm">
          Esta tienda de prueba ha sido creada con Angular y Tailwind CSS,
          ademas de la
          <a
            href="https://fakeapi.platzi.com/"
            target="_blank"
            class="text-white hover:underline"
            >fake API de Platzi</a
          >.
        </p>
      </div>
    </div>
  </div>
</footer>
